In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
python_series = ['monday', 'tuesday', 'wenesday', 'thursday', 'friday', 'saturday', 'sunday']
python_series

['monday', 'tuesday', 'wenesday', 'thursday', 'friday', 'saturday', 'sunday']

In [3]:
test_series = pd.Series(python_series, index=['1 day','2 day','3 day','4 day','5 day','6 day','7 day'])
test_series

1 day      monday
2 day     tuesday
3 day    wenesday
4 day    thursday
5 day      friday
6 day    saturday
7 day      sunday
dtype: object

In [6]:
test_series['1 day']

'monday'

In [10]:
df = pd.DataFrame({
    'Name of day': python_series,
    'Type of day': ['working', 'working', 'working', 'working', 'working', 'holiday', 'holiday']
})
df

  Name of day Type of day
0      monday     working
1     tuesday     working
2    wenesday     working
3    thursday     working
4      friday     working
5    saturday     holiday
6      sunday     holiday