## Работа в Python с Базами данных

Работа с помощью Python с базой позволяет:
- загружать данные из разных источников в базу данных
- подключаться к базе данных, считывать данные и анализировать их сразу в ноутбуке 
- использовать совместно Python и SQL для анализа данных в одном месте
- автоматизировать работу по загрузке/выгрузке базы из данных, а также строить ETL процессы

In [11]:
#импортируем нужные библиотеки
import sqlite3 
import sqlalchemy
import pandas as pd

In [12]:
df = pd.read_csv('sales.csv')

In [13]:
df.head()

   sales_id  time_id  product_id  region_id  transaction_amount
0         4      868         227        154              -39864
1         5      436         684        724               79272
2         6      529         176        478              -33632
3         7      146          16        891               87806
4         8      483         657        790               98243

In [14]:
#создаем подключение к локальной (установленный на собственный компьютер) Базе Данных Postgres

HOST = 'localhost'
PORT = 5432
DATABASE = 'postgres'
LOGIN = 'postgres'
PASSWORD = 'localhost'

engine =sqlalchemy.create_engine(f'postgresql://{LOGIN}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}') 
con_postgres = engine.connect()

In [ ]:
engine =sqlalchemy.create_engine(f'postgresql://postgres:loacalhost@localhost:5432/postgres')

In [17]:
#загрузка полностью датафрейма в таблицу базы данных с помощью функции to_sql() в pandas

table_name = 'sales_df'
schema_name = 'sales_data'

df.to_sql(con=con_postgres, name = table_name, schema=schema_name, index=False, if_exists='replace')

In [18]:
#создаем новую базу данных sqlite 

con_sqlite = sqlite3.connect('new_db_sales')

In [19]:
#также загружаем датафрейм в базу данных sqlite, меняем подключение 
df.to_sql(con=con_sqlite, name = table_name, index=False)

In [22]:
#пишем запрос к таблице внутри базы данных

sql_query = """
          select sales_id, transaction_amount
          from sales_data.sales_df
"""

sales = pd.read_sql_query(sql=sql_query, con=con_postgres)

In [23]:
sales

     sales_id  transaction_amount
0           4              -39864
1           5               79272
2           6              -33632
3           7               87806
4           8               98243
..        ...                 ...
995       999               94708
996      1000              -68442
997      1001               69121
998      1002               53607
999      1003               83106

[1000 rows x 2 columns]

In [25]:
sql_create_table = """

CREATE TABLE sales_data.customers (
id integer PRIMARY KEY,
customer_name varchar(256),
age integer
)
"""

In [26]:
con_postgres.execute(sql_create_table)

In [28]:
con_postgres.execute("insert into sales_data.customers values (4, 'Дима', 28)")